[defaults]
inventory = ansible/inventories/local.ini
roles_path = ansible/roles
host_key_checking = False # Ça désactive la vérification stricte des clés SSH.
retry_files_enabled = False # Avant, Ansible pouvait créer des fichiers .retry après un échec. et Avant, Ansible pouvait créer des fichiers .retry après un échec.
stdout_callback = yaml # Ça change l’affichage de sortie d’Ansible pour le rendre plus lisible en YAML.

[privilege_escalation] 
become = True  # Ça veut dire qu’Ansible exécutera les tâches avec des privilèges élevés, comme sudo.
become_method = sudo # Ça précise la méthode utilisée pour devenir administrateur